<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <property name="connection.url">jdbc:postgresql://127.0.0.1:5434/killeral?useSSL=false&amp;serverTimezone=UTC</property>
      <property name="connection.driver_class">org.postgresql.Driver</property>
      <property name="connection.username">killeral</property>
      <property name="connection.password">1506</property>
      <property name="show_sql">true</property>
      <property name="hibernate.connection.characterEncoding">utf8</property>
      <property name="format_sql">true</property>
      <property name="default_schema">chat</property>
      <property name="hibernate.current_session_context_class">thread</property>

      <mapping class="edu.school21.hibernate.Entity.User"/>
      <mapping class="edu.school21.hibernate.Entity.ChatRoom"/>
      <mapping class="edu.school21.hibernate.Entity.Message"/>

  </session-factory>
    <!-- DB schema will be updated if needed -->
    <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
</hibernate-configuration>